<%= simple_form_for([:online, expediente]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= t("PDF actual_html", pdf: expediente.pdf_file_name) unless expediente.pdf_file_name.nil? %>
    <%= f.file_field :pdf %>
  </div>

  <div>
    <%= f.button :submit, t("Subir PDF"), class: 'btn-info', id: "submit" %>
  </div>
<% end %>