<table id="expedientes" class="row pull-right table table-condensed table-bordered table-striped top_filtered expedientes <%= expediente_type?(expediente, 'matriculacion') ? 'matriculacion' : 'transferencia' %>" data-source="<%= online_expedientes_path(format: "json", type: expediente_type) %>" data-csv="<%= online_expedientes_path(format: "csv", type: expediente_type) %>">
  <thead>
    <tr class="filter">
      <th><%= t("Cliente") %></th>
      <th><%= t("Matricula") %></th>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Bastidor") %></th>
      <% end %>
      <th><%= t("Comprador") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th><%= t("Vendedor") %></th>
        <th><%= t("Marca") %></th>
      <% end %>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Modelo") %></th>
      <% end %>
      <th><%= t("Alta") %></th>
      <th><%= t("Salida_t") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th></th>
      <% end %>
      <th><%= t("Documentos") %></th>
    </tr>
    <tr class="titles">
      <th><%= t("Cliente") %></th>
      <th><%= t("Matricula") %></th>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Bastidor") %></th>
      <% end %>
      <th><%= t("Comprador") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th><%= t("Vendedor") %></th>
        <th><%= t("Marca") %></th>
      <% end %>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Modelo") %></th>
      <% end %>
      <th><%= t("Alta") %></th>
      <th><%= t("Salida_f") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th><%= t("Tramite_d") %></th>
      <% end %>
      <th><%= t("Documentos") %></th>
    </tr>
  </thead>
  <tbody>
  <% expedientes.each do |expediente| %>
      <tr class="expediente">
        <td>
          <%= expediente.cliente.nombre %>
        </td>
        <td class="matricula">
          <%= matricula_cell_matricula expediente %>
          <% if expediente_type? expediente, 'matriculacion' %>
            <%= matricula_cell_pdf expediente %>
            <%= matricula_cell_actions expediente %>
          <% elsif expediente.incidencia && !expediente.incidencia.empty? %>
            <%= matricula_cell_incidencia expediente %>
          <% elsif Transferencia.no_incidenciable %>
            <i title='<%= t("Documentacion correcta") %>' class="noincidencia icon icon-circle"></i>
          <% end %>
        </td>
        <% if expediente_type? expediente, 'matriculacion' %>
          <td>
            <%= expediente.bastidor %>
          </td>
        <% end %>
        <td>
          <%= expediente.comprador %>
        </td>
        <% if expediente_type? expediente, 'transferencia' %>
          <td>
            <%= expediente.vendedor %>
          </td>
          <td>
            <%= expediente.marca %>
          </td>
        <% end %>
        <% if expediente_type? expediente, 'matriculacion' %>
          <td>
            <%= expediente.modelo %>
          </td>
        <% end %>
        <td>
          <%= l expediente.fecha_alta unless expediente.fecha_alta.nil? %>
        </td>
        <td>
          <%= l expediente.fecha_sale_trafico unless expediente.fecha_sale_trafico.nil? %>
        </td>
        <% if expediente_type? expediente, 'transferencia' %>
          <td>
            <%= expediente.dias_tramite unless expediente.fecha_sale_trafico.nil? %>
          </td>
        <% end %>
        <td class="icon">
          <%= documentos_cell expediente %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>