<table id="expedientes" class="row pull-right table table-condensed table-bordered table-striped top_filtered expedientes <%= expediente_type?(expediente, 'matriculacion') ? 'matriculacion' : 'transferencia' %>">
  <thead>
    <tr class="filter">
      <th><%= t("Cliente") %></th>
      <th><%= t("Matricula") %></th>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Bastidor") %></th>
      <% end %>
      <th><%= t("Comprador") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th><%= t("Vendedor") %></th>
        <th><%= t("Marca") %></th>
      <% end %>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Modelo") %></th>
      <% end %>
      <th><%= t("Alta") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th><%= t("Salida_t") %></th>
        <th><%= t("Tramite_d") %></th>
      <% end %>
      <th><%= t("Documentos") %></th>
      <th class="hideie8"></th>
    </tr>
    <tr class="titles">
      <th><%= t("Cliente") %></th>
      <th><%= t("Matricula") %></th>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Bastidor") %></th>
      <% end %>
      <th><%= t("Comprador") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th><%= t("Vendedor") %></th>
        <th><%= t("Marca") %></th>
      <% end %>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Modelo") %></th>
      <% end %>
      <th><%= t("Alta") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th><%= t("Salida_f") %></th>
        <th><%= t("Tramite_d") %></th>
      <% end %>
      <th><%= t("Documentos") %></th>
      <th class="hideie8"><%= t("Observaciones") %></th>
    </tr>
  </thead>
  <tbody>
  <% expedientes.each do |expediente| %>
      <tr class="expediente">
        <td>
          <%= expediente.cliente.nombre %>
        </td>
        <td>
          <% if expediente.matricula %>
            <%= expediente.matricula.upcase %>
            <% unless current_usuario.norole? %>
              <%= link_to t( "edit_matricula_PDF" ), edit_online_matriculacion_path( expediente ) %>
            <% end %>
          <% else %>
            <% unless current_usuario.norole? %>
              <%= link_to t( "add_matricula_PDF" ), edit_online_matriculacion_path( expediente ) %>
            <% end %>
          <% end %>
          <%= link_to t( "PDF matricula" ), expediente.pdf.url, target: "blank" if expediente.pdf_file_name %>
        </td>
        <% if expediente_type? expediente, 'matriculacion' %>
          <td>
            <%= expediente.bastidor %>
          </td>
        <% end %>
        <td>
          <%= expediente.comprador %>
        </td>
        <% if expediente_type? expediente, 'transferencia' %>
          <td>
            <%= expediente.vendedor %>
          </td>
          <td>
            <%= expediente.marca %>
          </td>
        <% end %>
        <% if expediente_type? expediente, 'matriculacion' %>
          <td>
            <%= expediente.modelo %>
          </td>
        <% end %>
        <td>
          <%= l expediente.fecha_alta unless expediente.fecha_alta.nil? %>
        </td>
        <% if expediente_type? expediente, 'transferencia' %>
          <td>
            <%= l expediente.fecha_sale_trafico unless expediente.fecha_sale_trafico.nil? %>
          </td>
          <td>
            <%= expediente.dias_tramite unless expediente.fecha_sale_trafico.nil? %>
          </td>
        <% end %>
        <td class="icon">
          <% if pdf_file(expediente) %>
            <%= link_to pdf_path(expediente), target: 'blank' do %>
              <span><%= "Ver PDF" %></span>
              <i class="icon icon-file"></i>
            <% end %>
          <% else %>
            <span class="pendiente"><%= t("PDF Pendiente") %></span>
          <% end %>
        </td>
        <td class="hideie8">
          <%= expediente.observaciones %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>