<table id="expedientes" class="row pull-right table table-condensed table-bordered table-striped top_filtered expedientes <%= expediente_type? expediente, 'matriculacion' %>">
  <thead>
    <tr class="filter hidden">
      <th><%= t("Matricula") %></th>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Bastidor") %></th>
      <% end %>
      <th><%= t("Comprador") %></th>
      <th><%= t("Vendedor") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th><%= t("Marca") %></th>
      <% end %>
      <th><%= t("Modelo") %></th>
      <th><%= t("Alta") %></th>
      <th><%= t("Presentacion_t") %></th>
      <th><%= t("Salida_t") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="titles">
      <th><%= t("Matricula") %></th>
      <% if expediente_type? expediente, 'matriculacion' %>
        <th><%= t("Bastidor") %></th>
      <% end %>
      <th><%= t("Comprador") %></th>
      <th><%= t("Vendedor") %></th>
      <% if expediente_type? expediente, 'transferencia' %>
        <th><%= t("Marca") %></th>
      <% end %>
      <th><%= t("Modelo") %></th>
      <th><%= t("Alta") %></th>
      <th><%= t("Presentacion_f") %></th>
      <th><%= t("Salida_f") %></th>
      <th><%= t("Tramite_d") %></th>
      <th><%= t("Documentos") %></th>
      <th><%= t("Observaciones") %></th>
    </tr>
  </thead>
  <tbody>
  <% expedientes.each do |expediente| %>
      <tr class="expediente">
        <td>
          <%= link_to expediente.matricula, this_expediente_path(expediente) %>
        </td>
        <% if expediente_type? expediente, 'matriculacion' %>
          <td>
            <%= expediente.bastidor %>
          </td>
        <% end %>
        <td>
          <%= expediente.comprador %>
        </td>
        <td>
          <%= expediente.vendedor %>
        </td>
        <% if expediente_type? expediente, 'transferencia' %>
          <td>
            <%= expediente.marca %>
          </td>
        <% end %>
        <td>
          <%= expediente.modelo %>
        </td>
        <td>
          <%= l expediente.fecha_alta unless expediente.fecha_alta.nil? %>
        </td><td>
          <%= l expediente.fecha_entra_trafico unless expediente.fecha_entra_trafico.nil? %>
        </td>
        <td>
          <%= l expediente.fecha_sale_trafico unless expediente.fecha_sale_trafico.nil? %>
        </td>
        <td>
          <%= expediente.dias_tramite %>
        </td>
        <td class="icon">
          <%= link_to pdf_path(expediente) do %>
            <span><%= "Ver PDF" %></span>
            <i class="icon icon-file"></i>
          <% end %>
        </td>
        <td>
          <%= expediente.observaciones %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>