<% provide :title, t("Listado de Expedientes") %>

<h1><%= t("Expedientes") %></h1>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t("Expediente") %></th>
      <th><%= t("Matrícula") %></th>
      <th><%= t("Bastidor") %></th>
      <th><%= t("Comprador") %></th>
      <th><%= t("Vendedor") %></th>
      <th><%= t("Marca") %></th>
      <th><%= t("Modelo") %></th>
      <th><%= t("Fecha de alta") %></th>
      <th><%= t("Fecha presentación Tráfico") %></th>
      <th><%= t("Fecha salida Tráfico") %></th>
      <th><%= t("Días trámite") %></th>
      <th><%= t("Nueva matriculación") %></th>
      <th><%= t("Documentos") %></th>
      <th><%= t("Opciones") %></th>
    </tr>
  </thead>
  <tbody>
  <% expedientes.each do |expediente| %>
      <tr class="">
        <td>
          <%= expediente.identificador %>
        </td>
        <td>
          <%= expediente.matricula %>
        </td>
        <td>
          <%= expediente.bastidor %>
        </td>
        <td>
          <%= expediente.comprador %>
        </td>
        <td>
          <%= expediente.vendedor %>
        </td>
        <td>
          <%= expediente.marca %>
        </td>
        <td>
          <%= expediente.modelo %>
        </td>
        <td>
          <%= expediente.fecha_alta %>
        </td><td>
          <%= expediente.fecha_entra_trafico %>
        </td>
        <td>
          <%= expediente.fecha_sale_trafico %>
        </td>
        <td>
          <%= expediente.dias_tramite %>
        </td>
        <td>
          <%= expediente.matriculacion? && "Nueva" || "Transferencia" %>
        </td>
        <td>
          <%= link_to expediente.identificador, documentation_path(expediente.identificador, format: 'pdf') %>
        </td>
        <td class="list_actions">
          <%= link_to t("Ver"), expediente %>
          <!--<%= link_to t("Borrar"), expediente, confirm: t("confimar_borrado"), method: :delete %>-->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>