<% provide :title, t( "Expediente n", n: expediente.identificador ) %>

<h1><%= expediente.identificador %></h1>

<p><%= expediente.matricula %></p>
<p>
  <%= expediente.bastidor %>
</p>
<p>
  <%= expediente.comprador %>
</p>
<p>
  <%= expediente.vendedor %>
</p>
<p>
  <%= expediente.marca %>
</p>
<p>
  <%= expediente.modelo %>
</p>
<p>
  <%= expediente.fecha_alta %>
</p>
<p>
  <%= expediente.fecha_entra_trafico %>
</p>
<p>
  <%= expediente.fecha_sale_trafico %>
</p>
<p>
  <%= expediente.dias_tramite %>
</p>
<p>
  Enlace a pdf
</p>