<% provide :title, t( "Expediente para", n: expediente.matricula ) %>

<p><%= link_to "Volver al listado", expedientes_path %></p>

<div class="with_pdf">
  <h1>Expediente para <%= expediente.matricula %></h1>
  <table class="table-condensed table-hover table-bordered">
    <tbody>
      <tr><td>Matrícula</td><td><%= expediente.matricula %></td></tr>
      <tr><td>Comprador</td><td><%= expediente.comprador %></td></tr>
      <tr><td>Vendedor</td><td><%= expediente.vendedor %></td></tr>
      <tr><td>Marca</td><td><%= expediente.marca %></td></tr>
      <tr><td>Modelo</td><td><%= expediente.modelo %></td></tr>
      <tr><td>Fecha de alta</td><td><%= l expediente.fecha_alta unless expediente.fecha_alta.nil? %></td></tr>
      <tr><td>Fecha de entrada en tráfico</td><td><%= l expediente.fecha_entra_trafico unless expediente.fecha_entra_trafico.nil? %></td></tr>
      <tr><td>Días de trámite</td><td><%= expediente.dias_tramite %></td></tr>
      <tr><td>Observaciones</td><td><%= expediente.observaciones %></td></tr>
      <tr><td>Documentación</td><td><%= link_to "Ampliar PDF", expediente_path(expediente, format: 'pdf') %></td></tr>
    </tbody>
  </table>

  <iframe class="pdf" src="<%= expediente_path(expediente, format: 'pdf')%>">
</div>