<p><%= t("Persona solicitante: ")%><%= "#{current_usuario.nombre} #{current_usuario.apellidos}" %></p>
<%= simple_form_for [:online, justificante], html: { class: 'form-horizontal', multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.input :identificador %>
  <%= f.input :organizacion_id, as: :hidden, input_html: { value: current_usuario.organizacion.id } %>
  <%= f.input :nif_comprador %>
  <%= f.input :nombre_razon_social, label: t("Nombre o Razón Social") %>
  <%= f.input :primer_apellido %>
  <%= f.input :segundo_apellido %>
  <%= f.input :provincia %>
  <%= f.input :municipio %>
  <%= f.input :direccion, input_html: { rows: "5" } %>
  <%= f.input :matricula %>
  <%= f.input :bastidor %>
  <%= f.input :marca %>
  <%= f.input :modelo %>
  <div>
    <%= t("PDF actual", pdf: justificante.pdf_file_name) unless justificante.pdf_file_name.nil? %>
  </div>
  <div><%= f.file_field :pdf %></div>
  <%= f.button :submit, value: "Generar Justificante" %>
<% end %>