<h1>Listing justificantes</h1>

<table class="table table-condensed table-striped table-bordered">
  <tr>
    <th>Identificador</th>
    <th>Matricula</th>
    <th>Bastidor</th>
    <th>Comprador</th>
    <th>Vendedor</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Fecha alta</th>
    <th>Fecha entra trafico</th>
    <th>Fecha sale trafico</th>
    <th>Dias tramite</th>
    <th>Matriculacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @justificantes.each do |justificante| %>
  <tr>
    <td><%= justificante.identificador %></td>
    <td><%= justificante.matricula %></td>
    <td><%= justificante.bastidor %></td>
    <td><%= justificante.comprador %></td>
    <td><%= justificante.vendedor %></td>
    <td><%= justificante.marca %></td>
    <td><%= justificante.modelo %></td>
    <td><%= justificante.fecha_alta %></td>
    <td><%= justificante.fecha_entra_trafico %></td>
    <td><%= justificante.fecha_sale_trafico %></td>
    <td><%= justificante.dias_tramite %></td>
    <td><%= justificante.matriculacion %></td>
    <td><%= link_to t('Ver'), justificante %></td>
    <td><%= link_to t('Editar'), edit_justificante_path(justificante) %></td>
    <td><%= link_to t('Borrar'), justificante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('Nuevo Justificante'), new_justificante_path %>
