<h1><%= t("Listado de Informes de Trafico") %></h1>

<div><%= link_to 'Nuevo Informe', new_informe_path %></div>

<table class="table table-bordered table-striped table-condensed informe_traficos top_filtered">
  
  <thead>
    <tr class="filter">
      <th>Matricula</th>
      <th>Organización</th>
      <th>Solicitante</th>
      <th>Fecha solicitud</th>
      <th>Finalizado</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Matricula</th>
      <th>Organización</th>
      <th>Solicitante</th>
      <th>Fecha solicitud</th>
      <th>Finalizado</th>
      <th>Documentos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
<% informes.each do |informe_trafico| %>
  <tr class="<%= informe_trafico.pdf_file_name.nil? && 'error' || '' %>">
    <td><%= informe.matricula %></td>
    <td><%= informe.organizacion.identificador %></td>
    <td><%= informe.solicitante %></td>
    <td><%= l informe.fecha_solicitud unless informe.fecha_solicitud.nil? %></td>
    <td><%= informe.pdf_file_name.nil? && t("En curso") || t('Si') %></td>
    <td>
      <% unless informe.pdf_file_name.nil? %>
        <%= link_to "Ver PDF", informe.pdf.url %>
      <% else %>
        <%= t("pendiente") %>
      <% end %>
    </td>
    <td><%= link_to t('Ver'), informe %> |
    <%= link_to t('Editar'), edit_informe_path(informe_trafico) %> |
    <%= link_to t('Borrar'), informe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>
