<%= simple_form_for(@informe_trafico) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :matricula %>
    <%= f.input :solicitante, as: 'string' %>
    <%= f.input :fecha_solicitud %>
    <%= f.input :status, label: t("Subir PDF") %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
