<% provide :title, t( "Informe para", n: informe_trafico.matricula ) %>

<p><%= link_to "Volver al listado", informe_traficos_path %></p>

<div class="with_pdf">
  <h1>Informe para <%= informe_trafico.matricula %></h1>
  <table class="table-condensed table-hover table-bordered">
    <tbody>
      <tr><td>Matrícula</td><td><%= informe_trafico.matricula %></td></tr>
      <tr><td>Solicitante</td><td><%= informe_trafico.solicitante %></td></tr>
      <tr><td>Fecha solicitud</td><td><%= l informe_trafico.fecha_solicitud unless informe_trafico.fecha_solicitud.nil? %></td></tr>
      <tr>
        <td>Documentación</td>
        <td>
          <% if informe_trafico.pdf_file_name.nil? %>
            <%= t("pendiente") %>
          <% else %>
            <%= link_to "Ampliar PDF", informe_trafico.pdf.url %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <% unless informe_trafico.pdf_file_name.nil? %>
    <iframe class="pdf" src="<%= informe_trafico.pdf.url %>">
  <% end %>
</div>
