<table>
	<tbody>
		<tr>
			<td><img src='/assets/theme/logo_llorens-treb-upc.png">'></td>
			<td><h1>Trámites de vehículo de ocasión pendientes de resolver</h1></td>
		</tr>
	</tbody>
</table>
<table>
 	<thead>
    	<tr>
	    	<td><%= t("Cliente") %></td>
	    	<td><%= t("Matricula") %></td>
	    	<td><%= t("Comprador") %></td>
	    	<td><%= t("Vendedor") %></td>
	    	<td><%= t("Fecha Alta") %></td>
	    	<td><%= t("Incidencia") %></td>
    	</tr>
  	</thead>	
  	<tbody>
    <%= @incidencias.each do |incidencia| %>
    	<tr>
    		<td class='cli'><%= incidencia.cliente.nombre%></td>
	    	<td><%= incidencia.matricula %></td>
	    	<td><%= incidencia.comprador %></td>
	    	<td><%= incidencia.vendedor %></td>
	    	<td><%= incidencia.fecha_alta %></td>
	    	<td><%= incidencia.incidencia %></td>
    	</tr>
    <% end %>
    </tbody>
</table>