<h1>Trámites de vehículo de ocasión pendientes de resolver</h1>
<table>
 	<thead>
    	<tr>
	    	<td><%= t("Cliente") %></td>
	    	<td><%= t("Matricula") %></td>
	    	<td><%= t("Comprador") %></td>
	    	<td><%= t("Vendedor") %></td>
	    	<td><%= t("Fecha Alta") %></td>
	    	<td><%= t("Incidencia") %></td>
    	</tr>
  	</thead>	
  	<tbody>
    <%= @incidencias.each do |incidencia| %>
    		<td><%= incidencia.cliente %></td>
	    	<td><%= incidencia.matricula %></td>
	    	<td><%= incidencia.comprador %></td>
	    	<td><%= incidencia.vendedor %></td>
	    	<td><%= incidencia.fecha_alta %></td>
	    	<td><%= incidencia.incidencia %></td>
    <% end %>
    </tbody>
</table>