<h2><%= t("Change your password") %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "new_pw" }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="control-group">
    <%= f.label :password, t("New password"), class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password, class: "span4", placeholder: t("Your new password"), required: true, autofocus: true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, t("Confirm new password"), class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, class: "span4", placeholder: t("Password again"), required: true, autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls action">
      <%= f.submit t("Change my password"), class: "btn btn-success" %>
    </div>
  </div>
<% end %>

  
