<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to root_path, class: 'brand', "data-section" => 'body' do %>
            <%= image_tag('theme/logo_llorens_fondogris.png', alt: "logo") %>
        <% end %>
        <div class="nav-collapse collapse">
        <ul class="nav pull-right">
            <li><%= home_somos_link %></li>
            <li><%= home_ofrecemos_link %></li>
            <li><%= home_equipo_link %></li>
            <li><%= link_to t("Descargas"), download_path %></li>
            <li><%= link_to t("Contacto"), contact_path %></li>
            <li class="hidden-desktop"><%= link_to t("Condiciones"), condiciones_path %></li>
            <li class="hidden-desktop"><%= link_to t("Privacidad"), privacidad_path %></li>
            <li class="hidden-desktop"><%= link_to t("Condiciones"), cookies_policy_path %></li>
            <% if admin_menu %>
              <% if current_usuario %>
                  <li><%= link_to t("Area usuarios"), online_root_path, class: 'root' %></li>
                  <% unless current_usuario.norole? %>
                      <li class="administrator"><%= link_to t("Admin"), rails_admin_path, class: 'admin' %></li>
                  <% end %>
                  <li>
                      <%= link_to t("Sign out"),
                            destroy_usuario_session_path, method: "delete",
                            class: 'btn-header' %>
                  </li>
              <% else %>
                  <li>
                  <%= link_to t("Sign in"), new_usuario_session_path, class: 'btn-header' %>
              </li>
              <% end %>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>