<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to root_path, class: 'brand', "data-section" => 'body' do %>
            <%= image_tag('theme/logo_llorens-treb.png', alt: "logo") %>
        <% end %>
        <div class="nav-collapse collapse">
        <ul class="nav pull-right">
            <li><a href="#" class="scroller" data-section="#somos">Quiénes somos</a></li>
            <li><a href="#" class="scroller" data-section="#ofrecemos">Qué ofrecemos</a></li>
            <li><a href="#" class="scroller" data-section="#equipo">Nuestro equipo</a></li>
            <li><%= link_to "Descargas", download_path %></li>
            <li><%= link_to "Contacto", contact_path %></li>
            <% if current_usuario %>
                <li><%= link_to t("Area usuarios"), online_root_path, class: 'root' %></li>
                <% if current_usuario.role? "admin" %>
                    <li><%= link_to t("Admin"), rails_admin_path, class: 'admin' %></li>
                <% end %>
                <li>
                    <%= link_to t("Sign out"),
                          destroy_usuario_session_path, method: "delete",
                          class: 'btn-header' %>
                </li>
            <% else %>
                <li>
                <%= link_to t("Sign in"), new_usuario_session_path, class: 'btn-header' %>
            </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>