<div class="section_wrapper">
  <%= section_header header_text %>
  <div class="tools">
     <ul>
        <li><%= tool_link_to_home %></li>
        <% if defined? index_link %><li><%= tool_link_to_table index_link %></li><% end %>
        <% if defined? print_element %><li><%= tool_link_to_print print_element %></li><% end %>
        <% unless linked_pdf.nil? %><li><%= tool_link_to_pdf linked_pdf %></li><% end %>
        <% if defined? new_link %><li><%= tool_link_to_new new_link %></li><% end %>
        <% if defined? search %><li><%= tool_search_box %></li><% end %>
        <% if defined? search %><li><%= tool_link_to_filter %></li><% end %>
    </ul>
    
  </div>
  <% if defined? search %>
    <div class="dataTables_filter pull-right" id='<%= "#{search}" %>_filter'>
        <input type="text" aria-controls="<%= "#{search}" %>" placeholder="<%= t("Buscar en la tabla") %>">
    </div>
    <% end %>
</div>