<div class="section_wrapper">
  <%= section_header header_text, current_usuario.organizacion.nombre %>
  <div class="tools">
     <ul>
        <% if defined? clock %>
          <li><div id="clock"></div></li>
        <% end %>
        <li><%= tool_link_to_home %></li>
        <% if defined? reload %><li><%= tool_link_to_reload reload %></li><% end %>
        <% if defined? index_link %><li><%= tool_link_to_table index_link %></li><% end %>
        <% if defined? print_element %><li><%= tool_link_to_print print_element %></li><% end %>
        <% unless linked_pdf.nil? %><li><%= tool_link_to_pdf linked_pdf %></li><% end %>
        <% if defined? new_link %><li><%= tool_link_to_new new_link %></li><% end %>
        <% if defined? search %><li><%= tool_search_box %></li><% end %>
        <% if defined? search %><li><%= tool_link_to_filter %></li><% end %>
    </ul>
    
  </div>
  <% if defined?( legend ) && legend == "Transferencia" %>
    <div class="legend">
      <ul>
        <li class="title"><%= t("Leyenda") %>:</li>
        <li><i class="icon icon-circle"></i><%= t("Documentacion correcta_long") %></li>
        <li><i class="icon icon-info-sign"></i><%= t("Incidencia pendiente") %></li>
        <li><i class="icon icon-check"></i><%= t("Incidencia solucionada_short") %></li>
      </ul>
    </div>
  <% end %>
  <% if defined? search %>
    <div class="dataTables_filter pull-right" id='<%= "#{search}" %>_filter'>
        <input type="text" aria-controls="<%= "#{search}" %>" placeholder="<%= t("Buscar en la tabla") %>">
    </div>
    <% end %>
</div>