<div class="section_wrapper">
  <%= section_header header_text %>
  <div class="tools">
     <ul>
        <li><%= tool_link_to_home %></li>
        <li><%= tool_link_to_table index_link unless index_link.nil? %></li>
        <li><%= tool_link_to_print print_element unless print_element.nil? %></li>
        <li><%= tool_link_to_pdf linked_pdf unless linked_pdf.nil? %></li>
    </ul>
  </div>
</div>