<% if justificante.new_record? %>
  <div class="control-group imacompany offset4">
    <div class="controls checkbox">
      <label class="control-label" for="imacompany">
        <input type="checkbox" name="imacompany" id="imacompany">
        <%= t( "Solicitud a nombre de empresa" ) %>
      </label>
    </div>
  </div>
<% end %>

<%= simple_form_for [:online, justificante], html: { class: 'form-horizontal justificantes', multipart: true } do |f| %>
  <%= f.error_notification %>
  <% if justificante.new_record? %>
  <div class="span4">
    <%= f.input :identificador, :as => :hidden, :input_html => { :value => Time.now.to_i.to_s } %>
    <%= f.association :cliente,
      collection: current_usuario.clientes, label_method: :nombre,
      value_method: :id, include_blank: false %>
    <%= f.input :nif_comprador %>
    <%= f.input :nombre_razon_social, label: t("Nombre o Razón Social") %>
    <%= f.input :primer_apellido %>
    <%= f.input :segundo_apellido %>
  </div>
  <div class="span4">
    <%= f.input :provincia %>
    <%= f.input :municipio %>
    <%= f.input :direccion, input_html: { rows: "5" } %>
  </div>
  <div class="span4">
    <%= f.input :matricula %>
    <%= f.input :bastidor %>
    <%= f.input :marca %>
    <%= f.input :modelo %>
    <%= f.button :submit, t("Solicitar justificante"), class: 'pull-right btn-primary' %>
  </div>
  <% else %>
  <div>
    <%= t("PDF actual_html", pdf: justificante.pdf_file_name) unless justificante.pdf_file_name.nil? %>
  </div>
  <div><%= f.file_field :pdf %></div>
  <%= f.button :submit, (justificante.new_record? ? t("Solicitar justificante") : t("Subir PDF")), class: 'btn-primary' %>
  <% end %>
<% end %>