<tr class="justificante <%= 'new' if justificante.pdf_file_name.nil? %>" data-time="<%= justificante.created_at.to_i %>">
    <td class="printable" data-titular="Cliente"><%= justificante.cliente.identificador %>
    <td class="printable" data-titular="Matricula">
      <%= justificante.matricula %>
    </td>
    <td class="printable" data-titular="Cliente">
      <%= justificante.bastidor %>
    </td>
    <td class="printable" data-titular="NIF">
      <%= justificante.nif_comprador %>
    </td>
    <td class="printable" data-titular="Nombre o Razon Social">
      <%= justificante.nombre_razon_social %>
    </td>
     <td class="printable" data-titular="Primer apellido">
      <%= justificante.primer_apellido %>
    </td>
     <td class="printable" data-titular="Segundo apellido">
      <%= justificante.segundo_apellido %>
    </td>
    <td class="printable" data-titular="Marca">
      <%= justificante.marca %>
    </td>
    <td class="printable" data-titular="Modelo">
      <%= justificante.modelo %>
    </td>
    <td class="hidden"><%= justificante.created_at.to_i %></td>
    <td class="printable" data-titular="Hora solicitud">
      <%= l justificante.hora_solicitud, format: "%d/%m %H:%M" unless justificante.hora_solicitud.nil? %>
    </td>
    <td class="printable" data-titular="Hora entrega">
      <%= l justificante.hora_entrega, format: "%d/%m %H:%M" unless justificante.hora_entrega.nil? %>
    </td>
    <td class="icon">
      <% unless justificante.pdf_file_name.nil? %>
        <%= link_to justificante.pdf.url, title: "PDF" do %>
          <i class="icon icon-file"></i>
        <% end %>
      <% end %>
    </td>
    <td class="icon">
      <%= link_to edit_online_justificante_path(justificante), title: "Editar" do %>
          <i class="icon icon-edit"></i>
        <% end %>
    </td>
    <td>
    <a href="#" class="printLink"><i class="icon icon-print"></i></a>
  </td>
  </tr>