<% provide :title, t("Listado de Justificantes") %>

<div class="about_page">
  <%= render 'shared/section_wrapper',
      header_text: t("Justificantes"),
      linked_pdf: nil,
      new_link: 'justificantes',
      search: 'justificantes' %>

  <div class="row">
    <table id="justificantes" class="row pull-right table table-condensed table-bordered table-striped top_filtered justificantes">
  <thead>
    <tr class="filter">
      <th><%= t("Organizacion") %></th>
      <th><%= t("Matricula") %></th>
      <th><%= t("Bastidor") %></th>
      <th><%= t("NIF Comprador") %></th>
      <th><%= t("Nombre o razon") %></th>
      <th><%= t("Primer apellido") %></th>
      <th><%= t("Segundo apellido") %></th>
      <th><%= t("Marca") %></th>
      <th><%= t("Modelo") %></th>
      <th class="hidden"></th>
      <th><%= t("Hora solicitud") %></th>
      <th><%= t("Hora entrega") %></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="titles">
      <th><%= t("Organizacion") %></th>
      <th><%= t("Matricula") %></th>
      <th><%= t("Bastidor") %></th>
      <th><%= t("NIF Comprador") %></th>
      <th><%= t("Nombre o razon") %></th>
      <th><%= t("Primer apellido") %></th>
      <th><%= t("Segundo apellido") %></th>
      <th><%= t("Marca") %></th>
      <th><%= t("Modelo") %></th>
      <th class="hidden"></th>
      <th><%= t("Hora solicitud") %></th>
      <th><%= t("Hora entrega") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <%= render justificantes %>
  </tbody>
</table>
  </div>
</div>

<% # hidden table to serve as a bridge for polled new records to be added to the table %>
<div class="row hidden">
  <table id="temp_table">
    <tbody></tbody>
  </table>
</div>