<% provide :title, t("Listado de Justificantes") %>

<div class="about_page vista_tabla">
  <%= render 'shared/section_wrapper',
      header_text: t("Justificantes"),
      linked_pdf: nil,
      new_link: 'justificantes',
      search: 'justificantes',
      legend: nil %>

  <div class="row">
    <table id="justificantes" class="row pull-right table table-condensed table-bordered table-striped top_filtered justificantes" data-source="<%= online_justificantes_path(format: "json") %>" data-csv="<%= online_justificantes_path(format: "csv") %>?">
  <thead>
    <tr class="filter">
      <th><%= t("Cliente") %></th>
      <th><%= t("Matricula") %></th>
      <th><%= t("Bastidor") %></th>
      <th><%= t("NIF Comprador") %></th>
      <th><%= t("Nombre o razon") %></th>
      <th><%= t("Primer apellido") %></th>
      <th><%= t("Segundo apellido") %></th>
      <th class="hidden"></th>
      <th class="hidden"></th>
      <th class="hidden"></th>
      <th class="hideie8"><%= t("Marca") %></th>
      <th class="hideie8"><%= t("Modelo") %></th>
      <th class="hidden"><%= t("Hora solicitud") %></th>
      <th class="hidden"><%= t("Hora entrega") %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="titles">
      <th><%= t("Cliente") %></th>
      <th><%= t("Matricula") %></th>
      <th><%= t("Bastidor") %></th>
      <th><%= t("NIF Comprador") %></th>
      <th><%= t("Nombre o razon") %></th>
      <th><%= t("Primer apellido") %></th>
      <th><%= t("Segundo apellido") %></th>
      <th class="hidden"><%= t("Municipio") %></th>
      <th class="hidden"><%= t("Provincia") %></th>
      <th class="hidden"><%= t("Direccion") %></th>
      <th class="hideie8"><%= t("Marca") %></th>
      <th class="hideie8"><%= t("Modelo") %></th>
      <th class="hidden"><%= t("Hora solicitud") %></th>
      <th class="hidden"><%= t("Hora entrega") %></th>
      <th><%= t("Estado") %></th>
      <th colspan="3"><%= t("Acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render justificantes %>
  </tbody>
</table>
  </div>
</div>

<% # hidden table to serve as a bridge for polled new records to be added to the table %>
<div class="row hidden">
  <table id="temp_table">
    <tbody></tbody>
  </table>
</div>