<% provide :title, t("Listado de Justificantes") %>

<div class="about_page">
  <%= section_header t("Justificantes") %>
  <div class="row"><%= link_to t("Nuevo justificante"), new_online_justificante_path %></div>
  <div class="row">
    <table class="row pull-right table table-condensed table-bordered table-striped top_filtered justificantes">
  <thead>
    <tr class="filter">
      <th><%= t("Organización") %></th>
      <th><%= t("Matrícula") %></th>
      <th><%= t("Bastidor") %></th>
      <th><%= t("NIF Comprador") %></th>
      <th><%= t("Nombre o Razón social") %></th>
      <th><%= t("Primer apellido") %></th>
      <th><%= t("Segundo apellido") %></th>
      <th><%= t("Marca") %></th>
      <th><%= t("Modelo") %></th>
      <th><%= t("Hora solicitud") %></th>
      <th><%= t("Hora entrega") %></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th><%= t("Organización") %></th>
      <th><%= t("Matrícula") %></th>
      <th><%= t("Bastidor") %></th>
      <th><%= t("NIF Comprador") %></th>
      <th><%= t("Nombre o Razón social") %></th>
      <th><%= t("Primer apellido") %></th>
      <th><%= t("Segundo apellido") %></th>
      <th><%= t("Marca") %></th>
      <th><%= t("Modelo") %></th>
      <th><%= t("Hora solicitud") %></th>
      <th><%= t("Hora entrega") %></th>
      <th><%= t("Documentos") %></th>
      <th><%= t("Acciones") %></th>
    </tr>
  </thead>
  <tbody>
  <% justificantes.each do |justificante| %>
      <tr class="<%= 'error' if justificante.pdf_file_name.nil? %>">
        <td>
          <%= link_to justificante.matricula, online_justificante_path(justificante) %>
        </td>
        <td><%= justificante.organizacion.identificador %>
        <td class="large">
          <%= justificante.bastidor %>
        </td>
        <td>
          <%= justificante.nif_comprador %>
        </td>
        <td>
          <%= justificante.nombre_razon_social %>
        </td>
         <td>
          <%= justificante.primer_apellido %>
        </td>
         <td>
          <%= justificante.segundo_apellido %>
        </td>
        <td>
          <%= justificante.marca %>
        </td>
        <td>
          <%= justificante.modelo %>
        </td>
        <td>
          <%= l justificante.hora_solicitud, format: "%d/%m %H:%M" unless justificante.hora_solicitud.nil? %>
        </td>
        <td>
          <%= l justificante.hora_entrega, format: "%d/%m %H:%M" unless justificante.hora_entrega.nil? %>
        </td>
        <td>
          <%= link_to "Ver PDF", justificante.pdf.url unless justificante.pdf_file_name.nil? %>
        </td>
        <td>
          <%= link_to t('Editar'), edit_online_justificante_path(justificante) %> |
          <%= link_to t('Borrar'), online_justificante_path(justificante), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>