<p>Se ha recibido una nueva solicitud de información en la web con los siguientes datos:</p>

<ul>
  <li><strong>Nombre: </strong><%= @contact_params[:nombre] %></li>
  <li><strong>Email: </strong><%= @contact_params[:email] %></li>
  <li><strong>Teléfono: </strong><%= @contact_params[:telefono] %></li>
  <li><strong>Ciudad: </strong><%= @contact_params[:ciudad] %></li>
  <li><strong>Mensaje: </strong><%= @contact_params[:mensaje] %></li>
</ul>
