<%= simple_form_for([:online, informe]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :matricula %>
    <%= f.input :solicitante %>
    <%= f.association :cliente,
      collection: current_usuario.clientes, label_method: :nombre,
      value_method: :id, include_blank: false %>
    <%= t("PDF actual", pdf: informe.pdf_file_name) unless informe.pdf_file_name.nil? %>
    <%= f.file_field :pdf %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, (informe.new_record? ? "Solicitar informe" : "Subir PDF") %>
  </div>
<% end %>
