<%= simple_form_for([:online, informe]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if informe.new_record? %>
      <%= f.input :matricula %>
      <%= f.input :solicitante %>
      <%= f.association :cliente,
      collection: (current_usuario.check_permisos) ? current_usuario.permisos_informes : current_usuario.clientes, label_method: :nombre,
      value_method: :id, include_blank: false %>
    <% end %>
    <%= t("PDF actual_html", pdf: informe.pdf_file_name) unless informe.pdf_file_name.nil? %>
    <%= f.file_field :pdf unless informe.new_record? %>
  </div>

  <div>
    <%= f.button :submit, (informe.new_record? ? "Solicitar informe" : "Subir PDF"), class: 'btn-info' %>
  </div>
<% end %>
