<tr class="informe <%= informe.pdf_file_name.nil? && 'new' || '' %>" data-time="<%= informe.created_at.to_i %>">
  <td class="printable" data-titular="Cliente"><%= informe.cliente.nombre %></td>
  <td class="printable" data-titular="Matricula"><%= informe.matricula.upcase %></td>
  <td class="printable" data-titular="Solicitante"><%= informe.solicitante %></td>
  <td class="printable" data-titular="Fecha solicitud"><%= l informe.created_at, format: "%d/%m/%Y" %></td>
  <td class="hidden"><%= informe.updated_at.to_i %></td>
  <td class="printable" data-titular="Finalizado">
    <%= estado_cell(informe) %>
  </td>
  <td class="icon">
    <%= pdf_link_cell_not_empty(informe) %>
  </td>
  <td class="icon">
    <span></span>
    <%= edit_link_cell_i(informe) %>
  </td>
  <td>
    <%= print_link_cell(informe) %>
  </td>
</tr>