<tr class="informe <%= informe.pdf_file_name.nil? && 'new' || '' %>" data-time="<%= informe.created_at.to_i %>">
  <td><%= informe.organizacion.nombre %></td>
  <td><%= link_to informe.matricula, online_informe_path(informe) %></td>
  <td><%= informe.solicitante %></td>
  <td><%= l informe.created_at, format: "%d/%m/%Y" %></td>
  <td><%= informe.created_at.to_i %></td>
  <td><%= informe.pdf_file_name.nil? && t("En curso") || t('Si') %></td>
  <td class="icon">
    <% unless informe.pdf_file_name.nil? %>
      <%= link_to informe.pdf.url do %>
        <span><%= "Ver PDF" %></span>
        <i class="icon icon-file"></i>
      <% end %>
    <% else %>
      <%= t("pendiente") %>
    <% end %>
  </td>
  <td class="icon">
    <span></span>
    <%= link_to edit_online_informe_path(informe) do %>
        <span><%= "Editar" %></span>
        <i class="icon icon-edit"></i>
    <% end %>
  </td>
</tr>