<% provide :title, t( "Documento para", n: documento.matricula ) %>

<div class="about_page">
  <%= render 'shared/section_wrapper',
    header_text: t("Mandato profesional para", n: documento.matricula),
    index_link: 'mandatos',
    print_element: 'table#documento',
    linked_pdf: !documento.pdf.url.nil? && documento || nil %>

  <div class="row with_pdf">
    <table id="documento" class="table-condensed table-hover table-bordered">
      <tbody>
        <tr><td>Organización</td><td><%= documento.organizacion.identificador %></td></tr>
        <tr><td>Matrícula</td><td><%= documento.matricula %></td></tr>
        <tr><td>Bastidor</td><td><%= documento.bastidor %></td></tr>
        <tr><td>NIF Comprador</td><td><%= documento.nif_comprador %></td></tr>
        <tr><td>Nombre o Razón Social</td><td><%= documento.nombre_razon_social %></td></tr>
        <tr><td>Primer apellido</td><td><%= documento.primer_apellido %></td></tr>
        <tr><td>Segundo apellido</td><td><%= documento.segundo_apellido %></td></tr>
        <tr><td>Marca</td><td><%= documento.marca %></td></tr>
        <tr><td>Modelo</td><td><%= documento.modelo %></td></tr>
        <tr><td>Documentación</td><td><%= link_to t("Ampliar PDF"), documento.pdf.url %></td></tr>
      </tbody>
    </table>

    <iframe class="pdf" src="<%= documento.pdf.url %>"></iframe>
  </div>

</div>