<%= provide :title, t("Condiciones") %>

<div id="blog_wrapper">
  <div class="container" id="legal_page">
    <div class="row">
      <div class="span8">
        <!-- header -->
        <h1 class="header">
            <%= t("Condiciones") %>
            <hr>
        </h1>
        <%= t("Intro condiciones.html") %>
        <!-- header -->
        <div>
          <h3>1. <%= t("Info general") %></h3>
          <p><%= t("Intro general") %></p>
          <p><strong><%= t("Titular") %>: </strong><%= t("Info titular") %></p>
          <p><strong><%= t("Direccion") %>: </strong><%= t("Info direccion") %></p>
          <p><strong><%= t("CIF") %>:</strong><%= t("Info cif") %></p>
          <p><strong><%= t("Email") %>: </strong><%= t("Info email") %></p>
          <p><strong><%= t("Telefono") %>: </strong><%= t("Info telefono") %></p>
          <p><strong><%= t("Registrales") %>: </strong><%= t("Info registral") %></p>
        </div>
        <div>
          <h3>2. <%= t("Condiciones de uso") %></h3>
          <h4>2.1 <%= t("Acceso al sitio") %></h4>
          <p><%= t("Info acceso") %></p>
          <h4>2.2 <%= t("Necesidad") %></h4>
          <p><%= t("Info necesidad") %></p>
          <h4>2.3 <%= t("Utilizacion") %></h4>
          <p><%= t("Info utilizacion.html") %></p>
          <p><%= t("Info utilizacion2.html") %></p>
          <p><%= t("Info utilizacion3.html") %></p>
          <h4>2.4 <%= t("Responsabilidad") %></h4>
          <p><%= t("Info responsabilidad.html") %></p>
          <h4>2.5 <%= t("Contenidos") %></h4>
          <p><%= t("Info contenidos.html") %></p>
        </div>
        <div>
          <h3>3 <%= t("Intelectual") %></h3>
          <p><%= t("Info intelectual.html") %></p>
        </div>
        <div>
          <h3>4 <%= t("Nulidad") %></h3>
          <p><%= t("Info nulidad") %></p>
        </div>
        <div>
          <h3>5 <%= t("Legislacion") %></h3>
          <p><%= t("Info legislacion") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
