<%= provide :title, t("Cookies policy") %>

<div id="blog_wrapper">
  <div class="container" id="legal_page">
    <div class="row">
      <div class="span8">
        <!-- header -->
        <h1 class="header">
            <%= t("Cookies policy") %>
            <hr>
        </h1>
        <!-- header -->
        <div>
          <p><%= t("Info cookies1") %></p>
          <p><%= t("Info cookies2") %></p>
          <%= t("Info cookies3.html") %>
          <p><%= t("Info cookies4") %></p>
          <p><%= t("Info cookies5") %></p>
          <p><%= t("Info cookies6") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
