<div id="portfolio" class="portfolio_page about_page">
  <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Documentos</span>
      <hr class="right visible-desktop">
  </h2>
  <div class="row">
      <div class="span12">
          <h3 class="intro">
              Ponemos a su disposición los formularios y documentos más importantes para sus trámites ante la Administración relativos a matriculaciones y transferencias de vehículos.
          </h3>
      </div>
  </div>
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <div class="pic">
                    <a href="#">
                      <%= image_tag 'theme/coche_blanco_llorens.jpg', class: "pic", widths: '360', heights: '270' %>
                      <%= image_tag 'theme/thumb_more.png', class: "see_more" %>
                    </a>
                  </div>
                  <h3>Certificado 1</h3>
                  <p>Este documento es muy importante.</p>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <div class="pic">
                    <a href="#">
                      <%= image_tag 'theme/coche_blanco_llorens.jpg', class: "pic", widths: '360', heights: '270' %>
                      <%= image_tag 'theme/thumb_more.png', class: "see_more" %>
                    </a>
                  </div>
                  <h3>Autorización 1</h3>
                  <p>Este formulario es imprescindible, descárguelo.</p>
                </div>
              </li>
              <li class="span4" style="display:none;">
                <div class="thumbnail">
                  <div class="pic">
                    <a href="#">
                      <%= image_tag 'theme/coche_blanco_llorens.jpg', class: "pic", widths: '360', heights: '270' %>
                      <%= image_tag 'theme/thumb_more.png', class: "see_more" %>
                    </a>
                  </div>
                  <h3>Maecenas Euismod Elit</h3>
                  <p>There are many variations of passages
                    going to use passage anything.</p>
                </div>
              </li>
            </ul>
        </div>
    </div>
</div>