<%= provide :title, t("Descargas") %>

<div id="portfolio" class="portfolio_page about_page">
  <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Documentos</span>
      <hr class="right visible-desktop">
  </h2>
  <div class="row">
      <div class="span12">
          <h3 class="intro">
              Ponemos a su disposición los formularios y documentos más importantes para sus trámites ante la Administración relativos a matriculaciones y transferencias de vehículos.
          </h3>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="span12">
              <ul class="thumbnails download">
                <li class="span4">
                  <div class="thumbnail">
                    <div class="pic">
                      <a href="/docs/Certificado_Escrituras.pdf" target="_blank">
                        <%= image_tag 'theme/download-image.jpg', class: "pic", width: '360', height: '270' %>
                        <%= content_tag 'i', nil, class: "see_more icon icon-4x icon-cloud-download" %>
                      </a>
                    </div>
                    <h3>Certificado de Escrituras</h3>
                    <p>Documento de representación de personas jurídicas.</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <div class="pic">
                      <a href="/docs/Mandato_Especifico_Fisico.pdf" target="_blank">
                        <%= image_tag 'theme/download-image.jpg', class: "pic", width: '360', height: '270' %>
                        <%= content_tag 'i', nil, class: "see_more icon icon-4x icon-cloud-download" %>
                      </a>
                    </div>
                    <h3>Mandato personas físicas</h3>
                    <p>Mandato de representación para personas físicas.</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <div class="pic">
                      <a href="/docs/Mandato_Especifico_Sociedades.pdf" target="_blank">
                        <%= image_tag 'theme/download-image.jpg', class: "pic", width: '360', height: '270' %>
                        <%= content_tag 'i', nil, class: "see_more icon icon-4x icon-cloud-download" %>
                      </a>
                    </div>
                    <h3>Mandato personas jurídicas</h3>
                    <p>Mandato de representación para personas jurídicas.</p>
                  </div>
                </li>
              </ul>
          </div>
      </div>
  </div>
</div>