<%= provide :title, t("Privacidad") %>

<div id="blog_wrapper">
  <div class="container" id="legal_page">
    <div class="row">
      <div class="span8">
        <!-- header -->
        <h1 class="header">
            <%= t("Aviso legal") %>
            <hr>
        </h1>
        <!-- header -->
        <div>
          <h3><%= t("Info general") %></h3>
          <p><strong><%= t("Titular") %>: </strong><%= t("Info titular") %></p>
          <p><strong><%= t("Direccion") %>: </strong><%= t("Info direccion") %></p>
          <p><strong><%= t("Contacto") %>: </strong><%= t("Info contacto") %></p>
          <p><strong><%= t("Registrales") %>: </strong><%= t("Info registral") %></p>
          <p><strong><%= t("CIF") %>:</strong><%= t("Info cif") %></p>
        </div>
        <div>
          <h3><%= t("Datos registro") %></h3>
          <p><%= t("Info registro1") %></p>
          <p><%= t("Info registro2") %></p>
        </div>
        <div>
          <h3><%= t("Analytics") %></h3>
          <p><%= t("Info Analytics") %> <a href="https://tools.google.com/dlpage/gaoptout?hl=es" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=es</a></p>
        </div>
        <div>
          <h3><%= t("Modificaciones") %></h3>
          <p><%= t("Info modificaciones") %></p>
        </div>
        <div>
          <p><%= t("Fecha privacidad") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
