<%= provide :title, t("Privacidad") %>

<div id="blog_wrapper">
  <div class="container" id="legal_page">
    <div class="row">
      <div class="span8">
        <!-- header -->
        <h1 class="header">
            <%= t("Privacidad") %>
            <hr>
        </h1>
        <!-- header -->
        <div>
          <h3>1. <%= t("Incorporacion") %></h3>
          <p><%= t("Info incorporacion") %></p>
        </div>
        <div>
          <h3>2. <%= t("Ejercicio") %></h3>
          <p><%= t("Info ejercicio") %></p>
        </div>
        <div>
          <h3>3. <%= t("Medidas") %></h3>
          <p><%= t("Info medidas") %></p>
        </div>
        <div>
          <h3>4. <%= t("Prohibicion") %></h3>
          <p><%= t("Info prohibicion") %></p>
        </div>
        <div>
          <h3>5. <%= t("Terceros") %></h3>
          <p><%= t("Info terceros") %></p>
        </div>
        <div>
          <p><strong><%= t("Fecha privacidad", dia: 8, mes: "octubre", year: 2013) %></strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
