<div id="blog_wrapper">
  <div class="container">
    <div class="row">
      <div class="span8">
        <!-- header -->
        <h1 class="header">
            <%= t("Privacidad") %>
            <hr>
        </h1>
        <!-- header -->
        <div>
          <h3><%= t("Datos registro") %></h3>
          <p><%= t("Info registro1") %></p>
          <p><%= t("Info registro2") %></p>
        </div>
        <div>
          <h3><%= t("Analytics") %></h3>
          <p><%= t("Info Analytics") %></p>
        </div>
        <div>
          <h3><%= t("Modificaciones") %></h3>
          <p><%= t("Info modificaciones") %></p>
        </div>
        <div>
          <p><%= t("Fecha privacidad") %></p>
        </div>
      </span>
    </div>
  </div>
</div>