<tr class="stock">
  <td><%= stock_vehicle.matricula %></td>
  <td class="sold"><%= vendido_cell( stock_vehicle ) %></td>
  <td class="completed"><%= completed_cell( stock_vehicle ) %></td>
  <td class="sent"><%= sent_cell( stock_vehicle ) %></td>
  <td class="received"><%= received_cell( stock_vehicle ) %></td>
  <td class="definitive"><%= definitive_cell( stock_vehicle ) %></td>
  <td class="finished"><%= finished_cell( stock_vehicle ) %></td>
  <td class="icon"><%= link_to t("Ver detalle"), online_cliente_stock_vehicle_path( cliente, stock_vehicle ) %></td>
</tr>