<tr class="stock">
  <td><%= stock_vehicle.matricula %></td>
  <td class="sold"><%= vendido_cell( stock_vehicle ) %></td>
  <td class="completed"><%= completed_cell( stock_vehicle ) %></td>
  <td class="sent"><%= sent_cell( stock_vehicle ) %></td>
  <td class="received"><%= received_cell( stock_vehicle ) %></td>
  <td class="definitive"><%= definitive_cell( stock_vehicle ) %></td>
  <td class="finished"><%= finished_cell( stock_vehicle ) %></td>
  <td class="icon">
    <span class="details"></span>
    <%= link_to t("Ver detalle"), online_cliente_stock_vehicle_path( cliente, stock_vehicle ), class: 'vehicle', 'data-remote' => true, 'data-type' => 'json' %></td>
</tr>

<!-- Modal -->
    <div id="modalVehicle" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby='vehicleLabel' aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3></h3>
      </div>
      <div class="modal-body">
        <div class="col1">
          <p class="pmatricula"><strong><%= t("Matricula") %></strong>: <span></span></p>
          <p class="pparticular"><strong><%= t("Particular") %></strong>: <span></span></p>
          <p class="pcomprav"><strong><%= t("Compra_venta") %></strong>: <span></span></p>
          <p class="pmarca"><strong><%= t("Marca") %></strong>: <span></span></p>
          <p class="pmodelo"><strong><%= t("Modelo") %></strong>: <span></span></p>
          <p class="pcomprador"><strong><%= t("Comprador") %></strong>: <span></span></p>
          <p class="pft"><strong><%= t("Ft") %></strong>: <span></span></p>
          <p class="ppc"><strong><%= t("Pc") %></strong>: <span></span></p>
          <p class="pitv"><strong><%= t("Fecha_itv") %></strong>: <span></span></p>
          <p class="pincidencia"><strong><%= t("Incidencia") %></strong>: <span></span></p>
        </div>
        <div class="col2">
          <p class="pfec"><strong><%= t("Fecha_expediente_completo") %></strong>: <span></span></p>
          <p class="pfde"><strong><%= t("Fecha_documentacion_enviada") %></strong>: <span></span></p>
          <p class="pfnc"><strong><%= t("Fecha_notificado_cliente") %></strong>: <span></span></p>
          <p class="pfdr"><strong><%= t("Fecha_documentacion_recibida") %></strong>: <span></span></p>
          <p class="pfeg"><strong><%= t("Fecha_envio_gestoria") %></strong>: <span></span></p>
          <p class="pbajae"><strong><%= t("Baja_exportacion") %></strong>: <span></span></p>
          <p class="pfed"><strong><%= t("Fecha_entregado_david") %></strong>: <span></span></p>
          <p class="pfedf"><strong><%= t("Fecha_envio_definitiva") %></strong>: <span></span></p>
          <p class="pobservaciones"><strong><%= t("Observaciones") %></strong>: <span></span></p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t("Cerrar") %></button>
      </div>
    </div>
<!-- end of Modal -->