<tr class="stock">
  <td><%= stock_vehicle.matricula %></td>
  <td class="sold"><%= vendido_cell( stock_vehicle ) %></td>
  <td class="completed"><%= completed_cell( stock_vehicle ) %></td>
  <td class="sent"><%= sent_cell( stock_vehicle ) %></td>
  <td class="finished"><%= finished_cell( stock_vehicle ) %></td>
</tr>