<p><%= t("Hello ") %><%= @resource.email %></p>

<p><%= t("Password reset requested") %></p>

<p><%= link_to t('Change my password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t("Not requested") %></p>
<p><%= t("Nothing will happen yet") %></p>
