<% provide :title, t("Area usuarios") %>

<%= render 'shared/avisos', avisos: avisos %>

<div class="about_page">
  <h2 class="section_header">
    <hr class="left visible-desktop">
    <span>Seleccione una opción</span>
    <hr class="right visible-desktop">
  </h2>
  <div class="row">
    <ul>
    <li class="span3 teammate">
      <h5><%= link_to online_matriculaciones_path do %>
            <%= content_tag('span', "M", class: 'pie') %>
            <%= t("Matriculacion(VN)") %>
          <% end %>
      </h5>
      <p>Vehículo nuevo</p>
      <hr>
      <p class="description">Consulte los expedientes de Matriculación de Vehículos Nuevos</p>
    </li>
    <li class="span3 teammate">
      <h5><%= link_to online_transferencias_path do %>
            <%= content_tag('span', "T", class: 'pie') %>
            <%= t("Transferencia(VO)") %>
          <% end %>
      </h5>
      <p>Vehículo de Ocasión</p>
      <hr>
      <p class="description">Consulte los expedientes de Vehículos de Ocasión</p>
    </li>
    <li class="span3 teammate new">
      <h5><%= link_to new_online_justificante_path do %>
            <%= content_tag('span', "J", class: 'J pie') %>
            <%= t("Solicitud Justificantes") %>
          <% end %>
      </h5>
      <p>O bien <%= link_to "consulte", online_justificantes_path %> sus Justificantes</p>
      <hr>
      <p class="description">Solicite un Justificante y descárguelo en formato PDF</p>
    </li>
    <li class="span3 teammate new">
      <h5><%= link_to new_online_informe_path do %>
            <%= content_tag('span', "I", class: 'I pie') %>
            <%= t("Solicitud Informes") %>
          <% end %>
      </h5>
      <p>O bien <%= link_to "consulte", online_informes_path %> sus Informes</p>
      <hr>
      <p class="description">Solicite un Informe de Tráfico y descárguelo en formato PDF</p>
    </li>
    </ul>
  </div>
  <% if remarketing_links? %>
    <div class="row>">
      <ul class="remarketing">O acceda a las áreas de Remarketing que tiene disponibles:
        <%= remarketing_link_list %>
      </ul>
    </div>
  <% end %>
</div>