<!DOCTYPE html>
<html>
<head>
  <title><%= full_title( yield :title ) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header><%= link_to t("Brandname"), root_path %></header>
    <div class="row"><%= render 'shared/top_nav', flash: flash %></div>
    <div class="row"><%= render 'shared/flash', flash: flash %></div>
    <%= yield %>
  </div>
  <% unless Rails.env.production? %>
    <div>
      <a href="#" class="debug">debug<b></b></a>
      <div id="debug">
        <a href="http://0.0.0.0:3000/rails/routes" target="_blank" class="debug">Routes</a>
        <a href="http://0.0.0.0:3000/__better_errors" target="_blank" class="debug">Better errors</a>
        <div><%= debug(params) %></div>
        <div><%= debug(cookies) %></div>
      </div>
    </div>
  <% end %>

  <%= javascript_include_tag "application" %>
</body>
</html>
