<html lang="<%= I18n.locale %>">
  <head>
    <title><%= full_title( yield :title ) %></title>
    <meta http-equiv="Content-Language" content="es" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= render 'shared/fonts' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <a href="#" class="scrolltop"><span>up</span></a>
    <%= render 'shared/nav' %>
    <div class="container">
      <div class="row"><%= render 'shared/flash', flash: flash %></div>
      <div class="row"><%= render 'shared/organizacion' %></div>
      <div class="row"><%= yield %></div>
    </div>
    
    <% unless Rails.env.production? %>
    <div>
      <a href="#" class="debug">debug<b></b></a>
      <div id="debug">
        <a href="http://0.0.0.0:3000/rails/routes" target="_blank" class="debug">Routes</a>
        <a href="http://0.0.0.0:3000/__better_errors" target="_blank" class="debug">Better errors</a>
        <div><%= debug(params) %></div>
        <div><%= debug(cookies) %></div>
      </div>
    </div>
  <% end %>
  <%= javascript_include_tag "application" %>
  </body>
</html>